body {
    padding: 35px 35px;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

.canvas-container {
    width: 100%;
    height: 100%;
    padding: 10px 10px 0 10px;
    border: 1px solid #dcdcdc;
}
.canvas-content-wrapper {
    width: 100%;
    height: 500px;
    border: 1px solid #dcdcdc;
}
.canvas-content-wrapper canvas {
    width: 100%;
    height: 100%;
}
.canvas-menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 40px;
    margin: 10px 0 0 0;
    border-top: 1px solid #dcdcdc;
    font-size: 12px;
}
.menu-form-control {
    padding: 0 10px 0 10px;
    border-right: 1px solid #dcdcdc;  
}
.menu-form-control:first-child {
    padding-left: 0;
}
.menu-form-control:last-child {
    border-right: 0;
}
.menu-form-control label {    
    padding: 0 10px 0 0;
    cursor: pointer;
}
.menu-form-control label input {
    transform: translate3d(0px, 2px, 0px);
}
.menu-form-control span {
    padding: 0 5px 0 0;
}