.page-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.page-container * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.page-header {
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    background-color: #efefef;
    border-bottom: 1px solid #dcdcdc;
}

.page-content {
    width: 100%;
    height: calc(100vh - 45px - 30px);
    overflow: auto;
}

.page-footer {
    width: 100vw;
    height: 30px;
    background-color: #f9faf9;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.alert-container {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999990;
}
.alert-container-show {
    display: block;
}
.alert-container * {
    box-sizing: border-box;
    user-select: none;
}
.alert-position-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.alert-container .alert-lock {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 999991;
}
.alert-container .alert-lock-visibility {
    background-color: rgba(66, 66, 66, 0.5);
}
.alert-container .alert-wrapper {
    position: relative;
    width: 225px;
    min-height: 60px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 999999;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}
.alert-message-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    font-size: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.alert-message-wrapper .alert-message-content {
    overflow: auto;
}
.alert-btns-wrapper {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-top: 1px solid #efefef;
    flex-shrink: 0;
}
.alert-btns-wrapper .alert-btn {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border-left: 1px solid #efefef;
    color: #666666;
    font-size: 14px;
}
.alert-btns-wrapper .alert-btn:first-child {
    border-left: 0;
}
.alert-btns-wrapper .alert-btn:focus {
    outline: 0;
}
.alert-btns-wrapper .alert-btn-touched {
    background-color: #efefef;
}
.alert-btns-wrapper .alert-confirm-btn {
    color: #1890ff
}
.alert-btns-wrapper .alert-dangrous-btn {
    color: #ff0000;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.view-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.content-description {
    padding: 10px 10px;
    font-size: 0.15rem;
    line-height: 0.15rem;
}

.content-description .text-line {
    line-height: 0.25rem;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.guesture-interactive {
    padding: 0 20px;  
    overflow: hidden;  
}
.guesture-interactive-selected {
    background-color: #f5f2f2;
}
.guesture-interactive .guesture-interactive-content {
    padding: 10px 10px;
    border-bottom: 1px dashed #dcdcdc;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.image-viewitem {    
    display: block;
}
.image-viewitem-w-75 {
    width: 75%;
}
.image-viewitem-w-50 {
    width: 50%;
}
.image-viewitem-boxshadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.view-subject {
    margin: 15px 0;
}
.view-subject .view-subject-title {
    padding: 8px 20px;
    background-color: #efefef;
    font-size: 0.1rem;
    font-weight: 900;
}
.view-subject .view-subject-content {
    font-size: 0.1rem;
}


/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/
/****************************** ******************************/


.swiper-container {
    overflow: auto;
    width: 100%;
}
.swiper-container .swiper-wrapper {
    width: 100%;
    overflow: hidden;
}
.swiper-container .swiper-wrapper .swiper-item {
    width: 100%;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.swiper-item:first-child .list-content {
    border-top: 1px dotted #dcdcdc;
}
.list-content {
    width: 100%;
    flex: 0 0 100%;
    height: 50px;
    padding: 0 10px 0 0;
    border-bottom: 1px dotted #dcdcdc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.list-extend {
    flex-shrink: 0;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
.list-btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    user-select: none;
}
.list-readed-setting {
    background-color: #777777;
    color: #ffffff;
}
.list-readed-setting {
    background-color: #777777;
    color: #ffffff;
}
.list-delete-setting {
    background-color: #ff0000;
    color: #ffffff;
}