@keyframes move1 {
	to {
		left: 600px;
	}
}

.ball {
	width: 100px;
	height: 100px;
	background: #f40;
	border-radius: 50%;
	margin: 30px;
}
.ball-animation {
	position: absolute;
	left: 0;
	animation: move1 3s alternate infinite ease-in-out;
}
